/*** mixins ***/
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  background: white; }

a {
  -moz-transition: 0.75s all;
  -ms-transition: 0.75s all;
  -webkit-transition: 0.75s all;
  -o-transition: 0.75s all;
  transition: 0.75s all; }

.noScale {
  min-width: 135px;
  min-height: 50px; }

header {
  z-index: 2;
  position: relative; }

.mainContainer {
  padding-bottom: 120px; }
  .mainContainer .logoHeader {
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    position: relative;
    top: 30px; }
  .mainContainer .homePageBoxes {
    background: rgba(0, 0, 0, 0.8);
    width: 98%;
    min-height: 222px;
    padding: 8px;
    border: 1px solid #fff;
    margin-bottom: 9px;
    cursor: pointer;
    display: block;
    -moz-transition: 0.75s all;
    -ms-transition: 0.75s all;
    -webkit-transition: 0.75s all;
    -o-transition: 0.75s all;
    transition: 0.75s all; }
    .mainContainer .homePageBoxes:hover {
      -moz-transition: 0.75s all;
      -ms-transition: 0.75s all;
      -webkit-transition: 0.75s all;
      -o-transition: 0.75s all;
      transition: 0.75s all;
      background: black; }
      .mainContainer .homePageBoxes:hover p, .mainContainer .homePageBoxes:hover h2 {
        color: #ffffff;
        -moz-transition: 0.75s all;
        -ms-transition: 0.75s all;
        -webkit-transition: 0.75s all;
        -o-transition: 0.75s all;
        transition: 0.75s all; }
    .mainContainer .homePageBoxes p, .mainContainer .homePageBoxes h1, .mainContainer .homePageBoxes h2 {
      color: #989898; }
    .mainContainer .homePageBoxes p {
      font-size: 0.9em;
      line-height: 1.52em; }
  .mainContainer .homePageCopy {
    color: white;
    text-shadow: 1px 2px 1px #121212; }
    .mainContainer .homePageCopy h1 {
      text-shadow: 1px 2px 1px #121212; }
    .mainContainer .homePageCopy h1, .mainContainer .homePageCopy h2, .mainContainer .homePageCopy h3 {
      color: white;
      text-shadow: none; }

.mainContainerBG {
  background: url("../img/backgrounds/theDea_bg.jpg") no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 480px; }

.footer {
  height: 80px;
  padding: 10px;
  background: black;
  z-index: 1;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  color: white; }
  .footer .centered {
    text-align: center; }
  .footer .legal {
    text-align: center;
    padding: 28px 0 0 0; }
    .footer .legal span {
      padding: 0 4px;
      font-size: 0.8em; }
    .footer .legal a {
      color: #989898; }
    .footer .legal a:hover {
      color: #dadada;
      text-decoration: underline; }
  .footer .aoestudiosLogo {
    max-width: 128px;
    max-height: 128px;
    display: block;
    cursor: pointer; }
  .footer ul li {
    display: inline-block;
    list-style: none;
    padding: 12px 0; }
    .footer ul li a {
      color: white;
      display: block;
      height: 100%;
      padding: 20px 12px;
      -moz-transition: 0.75s all;
      -ms-transition: 0.75s all;
      -webkit-transition: 0.75s all;
      -o-transition: 0.75s all;
      transition: 0.75s all; }
    .footer ul li a:hover {
      background: #656565;
      color: #dadada; }

.nonScrollFill {
  margin-bottom: 200px; }

/*** floating paper panels ***/
.floatingPaperContainer {
  margin: 0 20px;
  height: 500px;
  /* 
  overflow-y: scroll; 
  */ }

.floatingPaper {
  position: relative;
  width: 200px;
  min-height: 300px;
  height: auto;
  margin: 0 20px;
  background: url("../img/read_carousel/paper_bg.png") no-repeat top transparent;
  padding: 20px 30px;
  display: block;
  cursor: pointer;
    /* 

    -moz-transform: translateX(30px) translateY(0px) translateZ(0px) rotateX(45deg) rotateY(0deg) rotate(25deg);
    -webkit-transform: translateX(50px) translateY(0px) translateZ(0px) rotateX(45deg) rotateY(10deg) rotate(25deg);
    -ms-transform: translateX(30px) translateY(0px) translateZ(0px) rotateX(45deg) rotateY(0deg) rotate(25deg);
    transform: translateX(30px) translateY(0px) translateZ(0px) rotateX(45deg) rotateY(0deg) rotate(25deg);
 */
  /*     -moz-animation: paper_float ease 3.75s infinite;
      -webkit-animation: paper_float ease 3.75s infinite;
      -ms-animation: paper_float ease 3.75s infinite;
      animation: paper_float ease 3.75s infinite; */ }
  .floatingPaper h1 {
    font-family: Georgia, sans-serif;
    font-size: 19px;
    color: #545454;
    font-weight: bold;
    padding: 0 0 20px 0; }
  .floatingPaper p {
    font-family: Georgia, sans-serif;
    font-size: 12px;
    color: black;
    font-weight: normal; }
  .floatingPaper .learnMore {
    font-family: Georgia, sans-serif;
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    -moz-transition: 0.75s all;
    -ms-transition: 0.75s all;
    -webkit-transition: 0.75s all;
    -o-transition: 0.75s all;
    transition: 0.75s all; }
    .floatingPaper .learnMore:hover {
      cursor: pointer;
      color: #989898; }
  .floatingPaper:hover {
    -webkit-transform: translateX(0px) translateY(0px) translateZ(100px) rotateX(0deg) rotateY(0deg) rotate(0deg);
    -moz-transform: translateX(0px) translateY(0px) translateZ(100px) rotateX(0deg) rotateY(0deg) rotate(0deg);
    -ms-transform: translateX(0px) translateY(0px) translateZ(100px) rotateX(0deg) rotateY(0deg) rotate(0deg);
    transform: translateX(0px) translateY(0px) translateZ(100px) rotateX(0deg) rotateY(0deg) rotate(0deg);
    /* -webkit-animation: paper_float_hover ease 0.75s infinite;
     -moz-animation: paper_float_hover ease 0.75s infinite;
     -ms-animation: paper_float_hover ease 0.75s infinite;
     animation: paper_float_hover ease 0.75s infinite;*/ }

/*** to be added via javascript ***/
.paperLeft {
  -moz-transform: translateX(30px) translateY(0px) translateZ(0px) rotateX(45deg) rotateY(0deg) rotate(25deg);
  -webkit-transform: translateX(50px) translateY(0px) translateZ(0px) rotateX(45deg) rotateY(10deg) rotate(25deg);
  -ms-transform: translateX(30px) translateY(0px) translateZ(0px) rotateX(45deg) rotateY(0deg) rotate(25deg);
  transform: translateX(30px) translateY(0px) translateZ(0px) rotateX(45deg) rotateY(0deg) rotate(25deg); }

.paperFarLeft {
  -moz-transform: translateX(30px) translateY(0px) translateZ(0px) rotateX(45deg) rotateY(0deg) rotate(45deg);
  -webkit-transform: translateX(50px) translateY(0px) translateZ(0px) rotateX(45deg) rotateY(10deg) rotate(45deg);
  -ms-transform: translateX(30px) translateY(0px) translateZ(0px) rotateX(45deg) rotateY(0deg) rotate(45deg);
  transform: translateX(30px) translateY(0px) translateZ(0px) rotateX(45deg) rotateY(0deg) rotate(45deg); }

.paperRight {
  -moz-transform: translateX(30px) translateY(0px) translateZ(0px) rotateX(45deg) rotateY(0deg) rotate(-25deg);
  -webkit-transform: translateX(50px) translateY(0px) translateZ(0px) rotateX(45deg) rotateY(10deg) rotate(-25deg);
  -ms-transform: translateX(30px) translateY(0px) translateZ(0px) rotateX(45deg) rotateY(0deg) rotate(-25deg);
  transform: translateX(30px) translateY(0px) translateZ(0px) rotateX(45deg) rotateY(0deg) rotate(-25deg); }

.paperFarRight {
  -moz-transform: translateX(30px) translateY(0px) translateZ(0px) rotateX(45deg) rotateY(0deg) rotate(45deg);
  -webkit-transform: translateX(50px) translateY(0px) translateZ(0px) rotateX(45deg) rotateY(10deg) rotate(45deg);
  -ms-transform: translateX(30px) translateY(0px) translateZ(0px) rotateX(45deg) rotateY(0deg) rotate(45deg);
  transform: translateX(30px) translateY(0px) translateZ(0px) rotateX(45deg) rotateY(0deg) rotate(45deg); }

@-webkit-keyframes paper_float {
  0% {
    top: 0px;
    left: 0px; }

  50% {
    top: 24px;
    left: 0px; }

  100% {
    top: 0px;
    left: 0px; } }

@-moz-keyframes paper_float {
  0% {
    top: 0px;
    left: 0px; }

  50% {
    top: 4px;
    left: 0px; }

  100% {
    top: 0px;
    left: 0px; } }

@-ms-keyframes paper_float {
  0% {
    top: 0px;
    left: 0px; }

  50% {
    top: 4px;
    left: 0px; }

  100% {
    top: 0px;
    left: 0px; } }

@keyframes paper_float {
  0% {
    top: 0px;
    left: 0px; }

  50% {
    top: 4px;
    left: 0px; }

  100% {
    top: 0px;
    left: 0px; } }

@-webkit-keyframes paper_float_hover {
  100% {
    z-index: 200;
    top: 10px;
    -webkit-transform: translateZ(100px); }

  100% {
    top: 0px; } }

@-moz-keyframes paper_float_hover {
  100% {
    z-index: 200;
    top: 10px;
    -webkit-transform: translateZ(100px); }

  100% {
    top: 0px; } }

@-ms-keyframes paper_float_hover {
  100% {
    z-index: 200;
    top: 10px;
    -webkit-transform: translateZ(100px); }

  100% {
    top: 0px; } }

@keyframes paper_float_hover {
  100% {
    z-index: 200;
    top: 10px;
    -webkit-transform: translateZ(100px); }

  100% {
    top: 0px; } }

/*** foundation fixes ***/
.top-bar {
  width: 100%;
  height: 60px;
  padding-top: 6px;
  background: rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -5px -5px 5px 5px #333;
  -webkit-box-shadow: -5px -5px 5px 5px #333;
  box-shadow: -5px -5px 5px 5px #333;
  position: fixed; }

.top-bar-section ul {
  background: rgba(77, 61, 61, 0.5); }

.top-bar-section li a:not(.button) {
  background: rgba(255, 0, 0, 0.05);
  -moz-transition: 0.75s all;
  -ms-transition: 0.75s all;
  -webkit-transition: 0.75s all;
  -o-transition: 0.75s all;
  transition: 0.75s all; }

.top-bar-section ul li.active > a {
  background: none;
  -moz-transition: 0.75s all;
  -ms-transition: 0.75s all;
  -webkit-transition: 0.75s all;
  -o-transition: 0.75s all;
  transition: 0.75s all; }

.top-bar-section ul li.disabled > a {
  color: #989898; }

/*** media queries ***/
@media screen and (max-width: 640px) {
  .mainContainer {
    padding-bottom: 200px; }
    .mainContainer .homePageBoxes {
      min-height: inherit; }
      .mainContainer .homePageBoxes h2 {
        font-size: 1.05em; }
      .mainContainer .homePageBoxes p {
        font-size: 0.65em; }

  .footer {
    height: 200px; }
    .footer .legal {
      margin: 0 0 20px 0; } }
