/*** mixins ***/
@mixin sTransitions {
    -moz-transition: 0.75s all;
    -ms-transition: 0.75s all;
    -webkit-transition: 0.75s all;
    -o-transition: 0.75s all;
    transition: 0.75s all;

}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
    background: white;
}

a {
    @include sTransitions;
}

img {
    &.noScale {
        min-width: 135px;
        min-height: 50px;
    }
}

header {
    z-index: 2;
    position: relative;
}

.mainContainer {
    padding-bottom: 120px;
    .logoHeader {
        margin: 0 auto;
        text-align: center;
        z-index: 2;
        position: relative;
        top: -30px;
    }
    .homePageBoxes {
        background: rgba(0,0,0,0.8);
        width: 98%;
        min-height: 222px;
        padding: 8px;
        border: 1px solid #fff;
        margin-bottom: 9px;
        cursor: pointer;
        display: block;
        @include sTransitions;
        &:hover {
            @include sTransitions;
            background: rgba(0,0,0,1);
            p, h2 {
                color: #ffffff;
                @include sTransitions;
            }
        }
        p, h1, h2 {
            color: #989898;
        }
        p {
            font-size: 0.9em;
            line-height: 1.52em;
        }
    }
    .homePageCopy {
        color: white;
        text-shadow: 1px 2px 1px #121212;
        h1 {
            text-shadow: 1px 2px 1px #121212;
        }
        h1, h2, h3 {
            color: white;
            text-shadow: none;
        }
    }
}

.mainContainerBG {
    background: url("../img/backgrounds/theDea_bg.jpg") no-repeat 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 320px;
    min-height: 480px;
}

.footer {
    height: 80px;
    padding: 10px;
    background: black;
    z-index: 1;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    color: white;
    .centered {
        text-align: center;
    }
    .legal {
        text-align: center;
        padding: 28px 0 0 0;
        span {
            padding: 0 4px;
            font-size: 0.8em;
        }
        a {
            color: #989898;
        }
        a:hover {
            color: #dadada;
            text-decoration: underline;
        }
    }
    .aoestudiosLogo {
        max-width: 128px;
        max-height: 128px;
        display: block;
        cursor: pointer;
    }
    ul {
        li {
            display: inline-block;
            list-style: none;
            padding: 12x 0;
            a {
                color: white;
                display: block;
                height: 100%;
                padding: 20px 12px;
                @include sTransitions;
            }
            a:hover {
                background: #656565;
                color: #dadada;
            }
        }
    }
}

/*** foundation fixes ***/
.top-bar {
    height: 60px;
    padding-top: 6px;
    background: rgba(0,0,0,0.5);
    -moz-box-shadow: -5px -5px 5px 5px #333;
    -webkit-box-shadow: -5px -5px 5px 5px #333;
    box-shadow: -5px -5px 5px 5px #333;
}

.top-bar-section ul {
    background: rgba(77, 61, 61, 0.5);
}

.top-bar-section li a:not(.button) {
    background: rgba(255, 0, 0, 0.05);
                @include sTransitions;
}

.top-bar-section ul li.active > a {
    background: none;
                @include sTransitions;
}

.top-bar-section ul li.disabled > a {
    color: #989898;
}


/*** media queries ***/
@media screen and (max-width: 640px) {
    .mainContainer {
        padding-bottom: 200px;
        .homePageBoxes {
            h2 {
                font-size: 1.05em;
            }
            p {
                font-size: 0.65em;
            }
            min-height: inherit;
        }
    }
    
    .footer {
        height: 200px;
        .legal {
            margin: 0 0 20px 0;
        }
    }
}







