        <div class="row" change-background="theDea_bg">
            <div class="small-centered large-centered large-offset-1 small-offset-3 columns">
                <div class="logoHeader">
                    <img src="img/logos/dorian_logo_1.png" alt="Dorian Delmontez' 10th Birthday">
                </div>
                
                <div class="row">
                    <div class="large-4 medium-4 small-12 columns">
                        <div class="homePageBoxes">
                            <a href="/#/story" title="Use the interactive map to see all the different cities, towns, landscapes and islands of the fantasy world known as The Dea. Exploring different areas of the Dea gain your different rewards.">
                                <h2>Story</h2>
                                <p>Use the interactive map to see all the different cities, towns, landscapes and islands of the fantasy world known as The Dea. Exploring different areas of the Dea gain your different rewards.</p>
                            </a>
                        </div>
                    </div>
                    <div class="large-4 medium-4 small-12 columns">
                        <div class="homePageBoxes">
                            <a href="/#/read" title="The story of Dorian Delmontez is rich and expansive. Get information on characters, backstories, family trees, environments and more. The more samples you read, the more characters you unlock.">
                                <h2>Read</h2>
                                <p>The story of Dorian Delmontez is rich and expansive. Get information on characters, backstories, family trees, environments and more. The more samples you read, the more characters you unlock.</p>
                            </a>
                        </div>
                    </div>
                    <div class="large-4 medium-4 small-12 columns">
                        <div class="homePageBoxes">
                            <a href="/#/play" title="When you have enough characters and abilities stored up from exploring and reading, move on to our online game and use what you've learned to fend of the forces of Shallowhale and Avidity.">
                                <h2>Play</h2>
                                <p>When you have enough characters and abilities stored up from exploring and reading, move on to our online game and use what you've learned to fend of the forces of Shallowhale and Avidity.</p>
                            </a>
                        </div>
                    </div>
                </div>