        <div class="row" change-background="story_bg">
            <div class="small-centered large-centered large-offset-1 small-offset-3 columns">
                
                <div class="row">
                    <div class="medium-8 medium-offset-2 small-12 columns copyBlock">
                        <h1>The Story of Dorian Delmontez</h1>
                        <blockquote>
                            <q>Of the stories that I've written, <strong>Dorian Delmontez</strong> is without a doubt the most personal and most imaginative.</q>
                            <p>- K.C. Hunter</p>
                        </blockquote>

                        <p>In the suburban ghettos of Maryland lives a boy who is often overlooked by his parents, his half-sister, his classmates and his teachers. Dorian Delmontez isn't blessed with any special abilites nor is he enhanced by any wonders &ndash; magical or scientific &ndash; that would lead anyone to believe that he was worth a second glance.</p>

                        <p>On his tenth birthday, this would all change.</p>

                        <hr>

                        <p>American author <strong>K.C. Hunter</strong> presents <em>Dorian Delmontez' 10<sup>th</sup> Birthday</em>, the first in a five-part young adult fantasy series.</p>

                        <p>Dorian Delmontez is sent a mysterious book on his tenth birthday whose contents are blank. As the day goes on, he realizes the book is writing itself; chronicling every encounter he has. Dorian and his sister, Alicia Wheaters, encounter a strange furry man-child named Finnegan who alerts them to the fact that they're being hunted by dark creatures call the <em>Tromuli</em>. The only way to escape their pursuers is to transport themselves to the magical world known as <em>The Dea</em> where Dorian and Alicia encounter a colorful menagerie of cities, landscapes, people, creatures and monsters.</p>

                        <p>The Dea itself is a world in turmoil, split into two halves:
                            <ul>
                                <li>The West: Filled with corrupt cities, darkened landscapes and ancient mysteries</li>
                                <li>The East: A land of brigthness, freedom, joy and adventures</li>
                            </ul>
                        </p>

                        <p>It is in this land that Dorian will not only discover his importance to the fate of that world, but uncover truths about his family in this one.</p>

                        <p>A likeable and relatable hero, Dorian Delmontez is a different kind of protagonist. Besides being of mixed heritage, there is nothing remarkable about him. In fact, Dorian is often overlooked by his family and the world in general. Not much is expected of him but he retains an expansive imagination and a truly giving heart, yet at the same time has a tendency for mischief.</p>

                        <p>Along his adventures, he meets some truly memorable characters including the outlaw Silva, the ruthless air pirates The Crimson Corsairs, fendish snake-spider hybrids known as <em>coils</em>, gigantic air whales, the nature-bending jungle queen Fana Fari, and the paternal leader of a town-sized orphanage Mr. Cole.</p>

                        <p>Filled with stunning imagery and quirky dialogue, young adult readers will appreciate the fun of traveling The Dea while older readers will enjoy the depth of subtext between the action and spectacle.</p>

                        <p>&copy; 2014, Ages 10&ndash;up</p>




                    </div>
                </div>