        <div class="row">
            <div class="small-12 large-4 columns paperColumn">
                <h1>Who</h1>
                <h2>Are The Loche Brothers?</h2>
                <figure>
                    <img src="img/read_carousel/loche_brothers.jpg" alt="The Loche Brothers">
                    <figcaption>
                        <p>Mouth, Echo and Sharp may be master trackers and mischevious, but they are three of the bravest souls in <strong>The Dea</strong>.</p>
                    </figcaption>
                </figure>

            </div>

            <div class="small-12 large-4 columns paperColumn borders">
                <h3>Master Thieves. Master Trackers.</h3>

                <p>In <em><strong>The Dea</strong></em>, there are those who follow the law, there are those who break the law, and then there are others who walk the line between both.</p>

                <p>Mouth, Echo and Sharp Loche (The Loche Brothers) are triplets in their teens who fashion themselves as master thieves and master trackers. Although they aren't hired very often, they have been known to have abilities that many would find surprising in teenagers.</p>

                <p>Each brother has what many would consider to be disabilities, but these disabilities are offset by an enhancement in other sense. Mouth, largely considerd the leader of the group, is very poor hearing but his voice carries untold power. Echo is legally blind in both eyes but can hear a bird from miles away and can even decipher data being transmitted through wires. Finally, there's Sharp who is the most modest of the three brothers. He is mute but his eyesight is so powerful he can see great distances and even spot imperfections in structures.</p>

                <p>Together, they use their abilities to find people, hunt down treasures and sneak into places that others would not be able to get into. They make their home at <em>Losian Bearn</em>, home for many children without parents, and carry a great amount of respect for <strong>Mr. Cole</strong> and all the other adults who run the community.</p>

                <p>They are among the first to welcome Dorian Delmontez and his sister Alicia Wheaters into The Dea and quickly became strong friends to the brother and sister.</p>

                <div class="downloadSampleBtn">Download a sammple</div>



            </div>

            <div class="small-12 large-4 columns paperColumn">
                <h2>The <span class="cursive">Facts</span></h2>
                <ul>
                    <li>Their parents remain unknown</li>
                    <li>Sharp's seeing abilities have not been measured scientifically, but he is believed to be able to see up to a mile away when pressing his abilities.</li>
                    <li>The only brother capable of playing <em>Haloball</em> is Sharp.</li>
                    <li>Echo was the only brother at birth to have all of his senses and later suffered a severe loss of sight at age two.</li>
                    <li>All three brothers were brought to Losian Bearn after attempting to rob Bulk Brown and Mr. Cole</li>
                </ul>
            </div>
        </div>