<div class="row" change-background="background" >
	<div class="small-centered large-centered large-offset-1 small-offset-3 columns">
		<div class="floatingPaperContainer">

			<div class="floatingPaper" id="1" style="z-index: 100; -webkit-animation: paper_float ease-in-out 1.75s infinite; -webkit-animation-delay: 0.25s;">
				<h1>Who are the Loche Brothers?</h1>
				<p>Mouth, Echo and Sharp are the triplets known as the Loche Brothers. Each brother has a unique disability that's offset by ...</p>
				<div class="learnMore btn" data-ng-click="readPaper(0)">Read More</div>
			</div>

			<div class="floatingPaper" id="2" style="margin: -265px 0 0 320px; -webkit-animation: paper_float ease-in 2.75s infinite; -webkit-animation-delay: 1s;">
				<h1>Dorian's Home Life</h1>
				<p>Growing up in Baltimore, Dorian Delmontez didn't come from a wealthy family ...</p>
				<div class="learnMore btn" data-ng-click="readPaper(1)">Read More</div>
			</div>

			<div class="floatingPaper" id="3" style="margin: -150px 0 0 500px; -webkit-animation: paper_float ease-in-out 2s infinite; -webkit-animation-delay: 0.5s;">
				<h1>Losian Bearn - Home of Wayward Children</h1>
				<p>Not quite an orphanage, also not quite a school, <em>Losian Bearn</em> acts as something altogether different ...</p>
				<div class="learnMore btn" data-ng-click="readPaper(2)">Learn More</div>
			</div>
		</div>
		
	</div>
</div>