<div class="row" change-background="background">
	<div class="small-centered large-centered large-offset-1 small-offset-3 columns">
		<div class="floatingPaperContainer">
			<div class="floatingPaper" id="1">
				<h1>Who are the Loche Brothers?</h1>
				<p>Mouth, Echo, and Sharp are the triplets known as The Loche Brothers. Each brother has a unique disability that's offset by a unique skill. While Mouth has poor hearing, his voice is powerful. Echo is mostly blind but possesses hearing so great that he can even hear information being transferred through a wire. Lastly, Sharp does not speak but his eyes can see the imperfections in a wall or illness in another person.</p>
				<p>In this sample from <em>Dorian Delmontez' 10th Birthday</em>, The Loche Brother encounters Dorian and his sister Alicia as they emerge from the Springstream and set foot in the Dea for the first time.</p>
			</div>
			<div class="floatingPaper" id="2">
				<h1>Dorian's Home Life</h1>
				<p>Growing up in Baltimore, Dorian Delmontez didn't come from a wealthy family. He lived in the "suburban ghetto", a part of the outer counties of Maryland that housed lower-income families in often forgotten neighborhoods.</p>
				<p>He didn't have everything growing up, but what he had he was happy for. His family, like many around him, was made up of a mixture of half-sisters and multiple grandparents. Read more about Dorian's home life in the chapter sample.</p>
			</div>
			<div class="floatingPaper" id="3">
				<h1>Losian Bearn - Home of Wayward Children</h1>
				<p>Not quite an orphanage, also not quite a school, <em>Losian Bearn</em> acts as something altogether different. Founded by a number of adults who saw too many abandoned children in the Dea, Losian Bearn is a community built to raise orphaned children in a free-spirited environment where learning, play and friendships are at the core of life.</p>
				<p>It is the only such community in the Dea and while it sometimes is criticized by more "normal" neighborhoods for being a collection of the unwanted, the staff and kids who call this 100+ acre valley home are proud of who they are and where they come from.</p>
			</div>
		</div>
		
	</div>
</div>