<div class="row nonScrollFill" change-background="background" >
	<div class="small-centered large-centered large-offset-1 small-offset-3 columns">
		<div class="floatingPaperContainer">
			<div data-ng-repeat="paper in papersObj" data-ng-click="readPaper()" class="floatingPaper {{paper.position}}" id="{{paper.id}}" style="
			margin: {{paper.margin}};
			-webkit-animation: {{paper.animation}};
			-moz-animation: {{paper.animation}};
			-ms-animation: {{paper.animation}};
			animation: {{paper.animation}};
			-webkit-animation-delay: {{paper.delay}};
			-moz-animation-delay: {{paper.delay}};
			-ms-animation-delay: {{paper.delay}};
			animation-delay: {{paper.delay}};">
				<h1>{{paper.title}}</h1>
				<div data-ng-bind-html="paper.story"></div>
				<div class="learnMore btn" id="{{paper.id}}">Read More</div>
			</div>
			
		</div>
		
	</div>
</div>